@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-title-medium-font-family: "Roboto", Helvetica;
  --m3-title-medium-font-size: 16px;
  --m3-title-medium-font-style: normal;
  --m3-title-medium-font-weight: 500;
  --m3-title-medium-letter-spacing: 0.15000000596046448px;
  --m3-title-medium-line-height: 24px;
  --size-radius-200: 8px;
  --size-space-400: 16px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-m3-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-m3-mode="light"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="light-high-contrast"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="light-medium-contrast"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="dark"] {
  --m3-schemes-on-primary: rgba(56, 30, 114, 1);
}

[data-m3-mode="dark-high-contrast"] {
  --m3-schemes-on-primary: rgba(0, 0, 0, 1);
}

[data-m3-mode="dark-medium-contrast"] {
  --m3-schemes-on-primary: rgba(27, 9, 66, 1);
}

[data-m3-mode="monochrome-LT"] {
  --m3-schemes-on-primary: rgba(226, 226, 226, 1);
}

[data-m3-mode="monochrome-DT"] {
  --m3-schemes-on-primary: rgba(26, 28, 28, 1);
}

[data-m3-mode="pink-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="pink-DT"] {
  --m3-schemes-on-primary: rgba(83, 29, 57, 1);
}

[data-m3-mode="rose-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="rose-DT"] {
  --m3-schemes-on-primary: rgba(86, 29, 41, 1);
}

[data-m3-mode="red-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="red-DT"] {
  --m3-schemes-on-primary: rgba(86, 30, 24, 1);
}

[data-m3-mode="orange-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="orange-DT"] {
  --m3-schemes-on-primary: rgba(83, 34, 0, 1);
}

[data-m3-mode="yellow-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="yellow-DT"] {
  --m3-schemes-on-primary: rgba(63, 46, 0, 1);
}

[data-m3-mode="chartreuse-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="chartreuse-DT"] {
  --m3-schemes-on-primary: rgba(45, 52, 0, 1);
}

[data-m3-mode="green-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="green-DT"] {
  --m3-schemes-on-primary: rgba(0, 57, 19, 1);
}

[data-m3-mode="teal-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="teal-DT"] {
  --m3-schemes-on-primary: rgba(0, 55, 49, 1);
}

[data-m3-mode="cyan-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="cyan-DT"] {
  --m3-schemes-on-primary: rgba(0, 54, 66, 1);
}

[data-m3-mode="blue-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="blue-DT"] {
  --m3-schemes-on-primary: rgba(21, 46, 96, 1);
}

[data-m3-mode="indigo-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="indigo-DT"] {
  --m3-schemes-on-primary: rgba(45, 41, 96, 1);
}

[data-m3-mode="purple-LT"] {
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
}

[data-m3-mode="purple-DT"] {
  --m3-schemes-on-primary: rgba(59, 37, 90, 1);
}

[data-color-mode="SDS-light"] {
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-default-default: var(--color-primitives-gray-300);
}

[data-color-mode="SDS-dark"] {
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-border-default-default: var(--color-primitives-gray-600);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
